/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-toolbar-row {
  justify-content: space-between;
}

p {
  margin: 16px;
}

[md-raised-button] {
  width: 100%;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}

md-sidenav-layout {
  height: 100vh;
}

md-sidenav {
  width: 320px;
}

.icon-20 {
  font-size: 20px;
}

.nav-item {
    color: inherit;
    text-decoration: none;
}

.nav-close-item {
    padding: 10px;
}

.vmiddle {
  vertical-align: middle;
}

.mystery-card {
  margin: 20px;
} 

.mystery-basic {

}

.actions {
  text-align: right;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}